[[source]]
url="https://pypi.org/simple"
verify_ssl=true
name="pypi"

[requires]
python_version="3.10"

[scripts]
extract="python ./etl/extract.py"

[packages]
google-auth = "*"
google-cloud-bigquery = "*"
google-api-python-client = "*"
gspread = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
argparse = "*"
google-cloud-storage = "*"
openpyxl = "*"
pyarrow = "*"
dateparser = "*"
pyspark = "*"
findspark = "*"
ipykernel = "*"
jupyter = "*"
ipywidgets = "*"
# @see https://github.com/fbdesignpro/sweetviz/pull/131
sweetviz = {editable = true, ref = "d6f4d8bb98ffddc2123bec57b080ba86fc64c6f8", git = "https://github.com/frank1010111/sweetviz.git"}
geopy = "*"

[dev-packages]
ipykernel = "*"
notebook = "*"
